{% include 'menu.html.twig' %}
{% block body %}
   <table id="equipement">
     <tr>
       <th>{{ equipement.nom }}</th>
       <td>{{ equipement.marque }}</td>
       <td>{{ equipement.prix }}</td>
       <td>{{ equipement.description }}</td>
       <td>{{ equipement.quantite }}</td>
     </tr>
   <table>
{% endblock %}